{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Your Listings</h2>
    {% for listing, bid in bids %}
                <div class="listing">
                        <div class="listings-img-box">
                            <a href="{% url 'listings' listing.id %}">
                                <img class="listings-image" src="{{listing.image.url}}" alt="Image">
                            </a>
                        </div>
                    <div class="listings-details">
                        <a href="{% url 'listings' listing.id %}">
                            <h3>{{ listing.title }}</h3>
                            <p>{{ listing.description }}</p>
                            <p>starter : {{ listing.starting_bid }}$</p>
                            {% if bid == "No bids yet" %}
                                <p>{{ bid }}</p>
                            {% else %}
                                {% if listing.active %}
                                    <p>Current Bidder : {{ bid.user }}</p>
                                {% else %}
                                    <p>Winning Bid : {{ bid.bid }}$ by {{ bid.user }}</p>
                                {% endif %}
                            {% endif %}
                        </a>
                        {% if listing.active %}
                            <a href="{% url 'close_listing' listing.id %}"><button class="btn btn-primary">Close</button></a>
                        {% endif %}
                    </div>
                </div>
    {% endfor %}
    {% if bids.length == 0 %}
        <p>You have no active listings.</p>
    {% endif %}
{% endblock %}